// color variables

$alabaster             : #E6E9F1;
$black                 : black;
$coconut-milk          : #F1EEE6;
$coral-black           : #110C0B;
$error-red             : #F03916;
$error                 : #cc0000;
$error-tint            : #FAE5E1;
$golden-orange         : #0e9b85;
$info-blue             : #0077D7;
$light-coral-black     : #3d3a3a;
$pearl-color           : #F5EBDA;
$shiny-gold            : #FFDD43;
$traditional-gold-color:#EEBC51;
$warning-tint          : #FFF5DC;
$warning-yellow        : #FFB800;
$white                 : white;
$gray-bg: #F1F2F4;
$primary: #385e86;
$secondary: rgb(7, 62, 54);
$form-primary          : gray;
$form-secondary        : #E8E8E8;